@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM CSS */
nav ul li {
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: 600;

}

.banner-img {
    background-image: url(../asset/bg-2.png);
}

.banner-img-sec::before {
    contain: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    z-index: 11;
}

.banner-img-sec::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.74);
    overflow: hidden;
    z-index: -111111;
}

.banner-img-sec {
    background-image: url(../asset/home_healthcare.jpg);
    position: relative;
    z-index: -111;
}

.why-choose-nurse {
    background: url(../asset/why-choose.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
    z-index: -111;
    background-attachment: fixed;
}

.why-choose-nurse::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.946), rgba(7, 7, 73, 0.78));
    z-index: -11;
}

.choose-card {
    /* background-color: rgb(255 255 255 / 0.05); */
    background: linear-gradient(to bottom right, rgba(0, 255, 247, 0.105), rgba(0, 0, 0, 0.333));
    border-color: rgba(255, 255, 255, 0.1);
    z-index: 11111;
}

.our-team-container {
    position: relative;
    background-image: url(../asset/bg-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
    transition: 0.3s;
}

.our-team-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #121c52db;
    z-index: -11;
    border-radius: 12px;
}

.our-team-card {
    transform-origin: bottom;
    transition: 0.3s;
}

.our-team-container:hover .our-team-card {
    bottom: 30px;
    opacity: 1;
}

.our-team-container .our-team-card a {
    transition: ease-in-out 0.3s;
}

.our-team-container .our-team-card a:hover {
    transform: scale(1.1);
    background: #121C52;
    color: white;
}